In [2]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests as rq

In [3]:
from splinter import Browser
executable_path = {'executable_path':'chromedriver'}

browser = Browser('chrome', **executable_path)
browser.visit("https://mars.nasa.gov/news/")

In [4]:
html = browser.html

In [5]:
soup = bs(html, "html.parser")

In [6]:
#print(soup.prettify())

### NASA Mars News

In [7]:
soup.find("div", class_ = "content_title").text

'Seven Ways Mars InSight is Different'

In [8]:
news_title = soup.find("div", class_ = "content_title").text
news_p = soup.find("div", class_ = "article_teaser_body").text

### JPL Mars Space Images - Featured Image

In [9]:
browser.visit("https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars")

In [10]:
n_file = browser.html
soup2 = bs(n_file, "html.parser")

In [11]:
img_file = soup2.find("img", class_ = "thumb")

In [15]:
img_file["src"]

'/spaceimages/images/wallpaper/PIA22250-640x350.jpg'

In [18]:
image_url = "https://www.jpl.nasa.gov"+img_file["src"]

In [19]:
image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA22250-640x350.jpg'

### Mars Weather

In [73]:
url = "https://twitter.com/marswxreport?lang=en"

In [74]:
response = rq.get(url)
response

In [77]:
soup3 = bs(response.text, "html.parser")

In [80]:
weather = soup3.find("div", class_ = "js-tweet-text-container").text

In [81]:
weather

'\nSol 1967 (Feb 17, 2018), Sunny, high -15C/5F, low -76C/-104F, pressure at 7.34 hPa, daylight 05:39-17:26\n'

In [85]:
weather = weather.replace("\n", "")
weather

'Sol 1967 (Feb 17, 2018), Sunny, high -15C/5F, low -76C/-104F, pressure at 7.34 hPa, daylight 05:39-17:26'

### Mars Facts

In [106]:
tables = pd.read_html("https://space-facts.com/mars/")

In [109]:
df = tables[0]
df.columns = ['Attributes', "Values"]

In [110]:
df

             Attributes                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [111]:
df.to_html("table.html")

In [112]:
!open table.html

### Mars Hemisperes

In [113]:
valles_url = "https://astrogeology.usgs.gov/cache/images/8981a6d7057a7634dc312c0448f462c1_valles_marineris_unenhanced.tif_full.jpg"
cerber_url = "https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg"
schia_url = "https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg"
syrt_url = "https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg"

In [114]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": valles_url},
    {"title": "Cerberus Hemisphere", "img_url": cerber_url},
    {"title": "Schiaparelli Hemisphere", "img_url": schia_url},
    {"title": "Syrtis Major Hemisphere", "img_url": syrt_url},
]

In [122]:
response = rq.get("https://mars.nasa.gov/news/")
soup = bs(response.text, "html.parser")
news_title = soup.find("div", class_ = "content_title").text
news_p = soup.find("div", class_ = "article_teaser_body").text

AttributeError: 'NoneType' object has no attribute 'text'

In [125]:
response = rq.get("https://mars.nasa.gov/news/")
soup = bs(response.text, "html.parser")
soup.find("div", class_ = "article_teaser_body")

In [118]:
news_title

'\n\nNearly a Decade After Mars Phoenix Landed, Another Look\n\n'

In [121]:
news_p